/* vue default */



#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    min-height: 100vh;
}

#nav {
    padding: 10px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

/* navbar */

.link {
    height: 100%;
}

.navrow {
    width: 100%;
}

.navbar {
    height: 8vh;
    background-color: #28343a;
}

.logo {
    height: 100%;
}

/* user page */
.root {
    flex-grow: 1;
}

.main {
    width: 65%;
    margin-top: 5%;
    margin-left: 0%;
}

.avatar {
    margin-top: 15%;
    margin-bottom: 10%;
    width: 30%;
}

.sidebar-line {
    height: 0.1em;
    width: 75%;
    background-color: #44c7c9;
}

.content-line {
    height: 0.1em;
    width: 100%;
    background-color: #28343a;
}

.option {
    margin-top: 5%;
    font-size: 1.5rem;
}

.content {
    flex-grow: 1;
}

.width-100 {
    width: 100% !important;
}

.width-84 {
    width: 84% !important;
}

input,
select {
    width: 40% !important;
    margin-left: 2%;
    margin-right: 2%;
}

.button-account {
    height: 5vh;
    width: 40%;
}

.button-create {
    margin-right: 8%;
}

.admin-sidebar {
    background-color: #0e6dee;
    border-top-right-radius: 15vh;
    min-height: 100%;
}

.user-sidebar {
    background-color: #28343a;
    border-top-right-radius: 15vh;
    min-height: 100%;
}

.con-header h1 {
    color: #28343a;
    text-align: left;
    border-bottom: 2px solid #28343a;
    width: 50vw;
    margin-left: 1vw;
}
.menu-link {
    color: rgba#fff;
    text-decoration: none;
}

.menu-link:visited {
    color: #fff;
}
.button-primary {
    width: 150px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  background: rgb(238, 238, 238);
  color: #f7f7f7;
  border-radius: 10px;
  border-color: #f7f7f7;
  background-color: #518ee2;
  cursor: pointer;
  transition: all 0.5s;
}
.button-primary span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button-primary span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button-primary:hover span {
    padding-right: 25px;
  }
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.pic-input {
    margin-left: 8%;
    width: 40%;
}

/* search / filter */

.filter-window {
    width: 30%;
}

.results-window {
    width: 70%;
}

/* extra */

body {
    min-height: 100vh;
    background-color: #f7f7f7;
}

.bg-lightblue {
    background-color: #7dcef2;
}

.text-cream {
    color: #f7f7f7;
}

.text-darkgray {
    color: #28343a;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-margin {
    margin: 0;
}

.menu-link {
    cursor: pointer;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}